<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <p> Here is your order:</p>
       <% @candlenum.times do %>
         <img src="https://images.pexels.com/photos/278823/pexels-photo-278823.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" width="120">
    <% end %>
    </body>
</html>