<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <p>Welcome to the Candle Store!</p>
        <p>Please enter the number of candles</p>
        <form action="/candles" method="post">
            <input type= "text" name="candlenum">
            <input type= "submit">
            </form>
    </body>
</html>